<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Login</key>
	<array>
		<dict>
			<key>email</key>
			<string>info@foxrunvineyards.com</string>
			<key>lastLogin</key>
			<string>2016-12-11T22:22:39Z</string>
		</dict>
	</array>
</dict>
</plist>
